html,
body {
    margin: 0;
    padding: 0;
}

.block {
  background: #91c9f9;
  border-radius: 16px;
  height: var(--size);
  width: var(--size);
  touch-action: none;
  cursor: grab;
  z-index: 10000;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

